@media screen and (max-width: 1000px)
{
    .formwrapper{
        width: 70%;
    }
    .btn{
        width: 40%;
        font-size: small;
    }
    .btn1{
        width: 40%;
        font-size: small;
    }
    
}
@media screen and (max-width: 600px)
{
    .form{
        width: 90%;
        border-radius: 10px 10px 10px 10px;
    }
    .Welcomediv{
        display: none;
    }
}
@media (max-width: 575px){
    .btn{
        width: 40%;
        font-size: small;
    }
    .btn1{
        width: 40%;
        font-size: small;
    }
}
@media (min-width: 768px){
    .btn{
        width: 40%;
        font-size: small;
    }
    .btn1{
        width: 40%;
        font-size: small;
    }
} 
@media (min-width: 991px){
    .btn{
        width: 40%;
        font-size: small;
    }
    .btn1{
        width: 40%;
        font-size: small;
    }
} 
